@mixin font-face(
  $name,
  $path,
  $weight,
  $style
) {
  @font-face {
    font-family: $name;
    
    src:
            url('#{$path}.woff') format('woff'),
            url('#{$path}.ttf') format('truetype');
    
    font-weight: $weight;
    font-style: $style;
    
    font-display: swap;
  }
}